.checkbox__wrapper__4 * {
    box-sizing: border-box;
}

.checkbox__wrapper__4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}

.checkbox__wrapper__4 .cbx:not(:last-child) {
    margin-right: 6px;
}

.checkbox__wrapper__4 .cbx:hover {
    background: rgba(84, 160, 255, 0.21);
}

.checkbox__wrapper__4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox__wrapper__4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #A1A2A7;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}

.checkbox__wrapper__4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox__wrapper__4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.checkbox__wrapper__4 .cbx:hover span:first-child {
    border-color: #07f;
}

.checkbox__wrapper__4 .inp__cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox__wrapper__4 .inp__cbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}

.checkbox__wrapper__4 .inp__cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox__wrapper__4 .inline__svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}