.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.8);
    z-index: 101;
}

.myModalContent{
    padding: 25px;
    background: rgba(128, 128, 128, 0.73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    min-width: 250px;
    min-height: 10px;
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}