.publication__wrapper{
    margin-top: 40px;
    min-height: 100rex;
    display: flex;
    flex-direction: column;
    background: #D4DBE2;
}

.window{
    position: fixed;
    top: 25%;
    right: 5%;
    border-radius: 15px 15px 15px 15px;
    box-shadow:  1px 1px 15px rgba(0, 0, 0, 0.16),
    -1px -1px 15px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tags{
    padding: 20px;
    display: flex;
    max-width: 180px;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.tag{
    font-family: 'VT323', monospace ;
    font-size: 19px;
    font-weight: bold;
    margin: 10px;
}

.isAcces{
    display: none;
}

.isAcces.noAcces{
    display: flex;
    color: #750000;
}

.buttons{
    display: flex;
}

.link{
    color: #2a2828;
    font-weight: bold;
    background: rgba(0,0,0,0);
    text-decoration: none;
    padding: 20px;
    border: none;
}

.link:first-child{
    border-radius: 0 0 0 14px;
}

.link:last-child{
    border-radius: 0 0 14px 0;
}

.link:hover{
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
    box-shadow:  2px 2px 10px #00c4ff,
    -2px -2px 10px rgb(0, 196, 255);
}


.publication{
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Title{
    padding:20px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}

.description{
    width: 60%;
    font-size: 20px;
    font-family: Calibri, fantasy;
    padding: 5px;
    white-space: pre-line;
}

.footer{
    margin-top: 40px;
    padding-left: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
}

